<launch>
    <!-- SLAM Function Selection -->
    <arg name="slam/lidar_type" default="0" doc="0:None, 1:Mid360, 2:lsx10"/>
    <arg name="slam/algorithm" default="fast_lio" doc="gmapping/fast_lio"/>
    <!-- Semantic Mapping Function Selection -->
    <arg name="sm/algorithm" default="coarse_fine" doc="coarse_fine"/>


    <!-- SLAM -->
    <group if="$(eval arg('slam/algorithm') == 'gmapping')">
        <!-- RViz Visualization -->
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turn_on_wheeltec_robot)/rviz/main_2d.rviz"/>
        <!-- Navi -->
        <include file="$(find turn_on_wheeltec_robot)/launch/navigation.launch">
            <arg name="map_file" value="$(find turn_on_wheeltec_robot)/map/WHEELTEC.yaml"/>
            <arg name="lidar_type" value="$(arg slam/lidar_type)"/>
        </include>
    </group>

    <group if="$(eval arg('slam/algorithm') == 'fast_lio')">
        <!-- RViz Visualization -->
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio_localization)/rviz_cfg/localization.rviz" />
        <!-- relocalize -->
        <include file="$(find fast_lio_localization)/launch/relocation_mid360.launch">
        </include>
        <!-- navi -->
        <include file="$(find fast_lio_navigation)/launch/navi_mid360.launch">
        </include>
    </group>

    <!-- SM -->
    <group if="$(eval arg('sm/algorithm') == 'coarse_fine')">
        <!-- Coarse-Fine Semantic Mapping: coarse_localize-->
        <include file="$(find cerebellum_pkg)/launch/include/coarse_localize.launch">
            <arg name="single_test" value="false"/>
            <arg name="gen/pose_link_father" value="map"/>
            <arg name="gen/pose_link_child" value="body"/>
            <arg name="gen/rgb_sub" value="/camera/color/image_raw"/>
            <arg name="gen/enable_pub_memory" value="true"/>
            <arg name="gen/main_loop_duration" value="0.25"/>
            <arg name="man/renew_db" value="false"/>
        </include>
        <!-- Coarse-Fine Semantic Mapping: fine_grained_search-->
        <include file="$(find cerebellum_pkg)/launch/include/fine_grained_search.launch">
            <arg name="single_test" value="false"/>
            <arg name="camera_link_father" value="map"/>
            <arg name="camera_link_child" value="camera_color_optical_frame"/>
            <arg name="rgb_sub" value="/camera/color/image_raw"/>
            <arg name="depth_sub" value="/camera/aligned_depth_to_color/image_raw"/>
            <arg name="caminfo_sub" value="/camera/color/camera_info"/>
            <arg name="depth_scale" value="1000.0"/>
        </include>
        <!-- Coarse-Fine Semantic Mapping: dependencies -->
        <include file="$(find cerebellum_pkg)/launch/include/sam.launch"/>
        <include file="$(find cerebellum_pkg)/launch/include/mvits.launch"/>
        <include file="$(find cerebellum_pkg)/launch/include/dinov3.launch"/>
        <include file="$(find cerebellum_pkg)/launch/include/yolo_det.launch"/>
    </group>
            

    <!-- Realsense Camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
    </include>
</launch>
