<launch>
    <!-- 获取环境变量 -->
    <arg name="depth_enhance_venv" default="/home/$(env USER)/miniconda3/envs/py310/bin/python" doc=""/>
    <env name="LD_PRELOAD" value="/usr/lib/x86_64-linux-gnu/libtiff.so.5"/>

    <arg name="depth_scale" default="1000.0" doc=""/>

    <!-- 节点 -->
    <node name="depth_enhance_node"
          pkg="promptda_pkg"
          type="depth_enhance_node.py"
          launch-prefix="$(arg depth_enhance_venv)"
          output="screen"
          respawn="true">
        <param name="depth_scale" value="$(arg depth_scale)"/>
    </node>
</launch>
